# Cargo / rust
/target/
**/*.rs.bk
**/*.rmeta
**/target/
*.rlib

# Coverage reports (written by `template coverage`)
cov/
/report/

# Code metrics (written by `template cq`)
/metrics/

# Mutation testing output (written by `template mutants`)
/mutants.out/
/mutants.out.old/

# Rustfmt backup
**/*.bk

# Intentionally do not lock
Cargo.lock

# Artifacts
*.core
persistence-test-*.txt
*~

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env overrides
.envrc
.direnv/
